body {
	font-family: "lato-regular", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
	margin: 0;
	padding: 0;
}

/* 导航栏 */
nav {
	position: relative;
	top: 0;
	background: #FFF;/* #27AE60 */
	z-index: 1;
}

.navbar-header a,
.navbar-header button {
	color: #27AE60;/* #FFF */
}

.navbar-brand-right {
	float: right;
	height: 50px;
	padding: 15px;
	font-size: 18px;
	line-height: 20px;
}

.navbar-brand-right:hover,
.navbar-brand-right:focus {
    text-decoration: none;
}

.menu-nav {
	display: none;
	text-align: center;
}

.nav li a {
	color: #27AE60;/* #ECF0F1 */
}

.nav li a:hover {
	color: #FFF;
	background: #2CC36B;
}

/* 头部 */
header {
	position: relative;
	padding: 130px 0 80px 0;
	color: #ECF0F1;
	text-align: center;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
	background-color: #27AE60;
	background-image: linear-gradient(to bottom, #27AE60 0px, #2ECC71 100%);
	background-repeat: repeat-x;
	overflow: hidden;
}

.fork {
	position: absolute;
	top: 97px;
	right: -40px;
	width: auto;
	height: auto;
	background: #C0392B;
	        transform: rotate(45deg);
	     -o-transform: rotate(45deg);	/* Opera */
	    -ms-transform: rotate(45deg);	/* IE 9 */
	   -moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);	/* Safari and Chrome */
}

.fork a {
	display: block;
	margin: 1.5px 0;
	padding: 2px 40px;
	color: #FFF;
	font-weight: bold;
	border-top: 1.5px solid #E67E22;
	border-bottom: 1.5px solid #E67E22;
}

.fork a:hover {
	text-decoration: none;
}

header .logo {
	display: block;
	margin: 0px auto 30px;
	padding: 10px 16px;
	font-size: 108px;
	font-weight: 500;
	line-height: 140px;
	color: #FFF;
	text-align: center;
	cursor: default;
}

header .lead {
	margin: 0px auto 30px;
	font-size: 30px;
	color: #FFF;
}

header .version {
	margin-top: -15px;
	margin-bottom: 30px;
}

header .version a,
header .version a:hover {
	color: #ECF0F1;
}

.btn-outline-inverse {
    color: #FFF;
    background-color: transparent;
    border-color: #ECF0F1;
}

.btn-outline-inverse:hover,
.btn-outline-inverse:focus,
.btn-outline-inverse:active {
    color: #27AE60;
    text-shadow: none;
    background-color: #FFF;
    border-color: #FFF;
}

.post-header {
	margin-bottom: 40px;
	padding-top: 110px;
	padding-bottom: 60px;
	text-align: left;
}

.post-header h1 {
	margin-top: 0;
	color: #FFF;
	font-size: 60px;
	line-height: 1;
}

/* 内容 */
section {
	padding-top: 100px;
	padding-bottom: 100px;
	font-size: 16px;
	line-height: 1.5;
	color: #555;
	text-align: center;
	background-color: #fff;
	border-bottom: 1px solid #e5e5e5;
}

section .title {
	margin-bottom: 30px;
	font-size: 40px;
	font-weight: 400;
	color: #333;
}

section .lead {
	max-width: 80%;
	margin-right: auto;
	margin-left: auto;
}

.post-section {
	padding-top: 0;
	padding-bottom: 40px;
	text-align: left;
}

/* 测边栏 */
aside {
	padding-right: 20px;
}

aside.affix {
	position: fixed;
	top: 90px;
}

.sidenav {
	margin-top: 20px;
	margin-bottom: 20px;
}

aside .nav li>a {
	display: block;
	padding: 4px 20px;
	font-size: 13px;
	font-weight: 500;
	color: #999;
}

aside .nav .nav li>a {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 30px;
	font-size: 12px;
	font-weight: 400;
}

aside .nav li>a:hover,
aside .nav .nav li>a:hover {
	color: #2ECC71;
	background: transparent;
	border-left: 1px solid #2ECC71;
}

aside .nav .active>a {
	font-weight: 700;
	color: #27AE60;
	background: transparent;
	border-left: 2px solid #27AE60;
}

aside .nav .active>a:hover {
	font-weight: 700;
	color: #27AE60;
	background: transparent;
	border-left: 2px solid #27AE60;
}

aside .nav .nav .active>a {
	font-weight: 500;
	color: #27AE60;
	background: transparent;
	border-left: 2px solid #27AE60;
}

aside .nav .nav .active>a:hover {
	font-weight: 500;
	color: #27AE60;
	background: transparent;
	border-left: 2px solid #27AE60;
}

/* 文章 */
article {
	background-color: #FFF;
	overflow: hidden;
	/* font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif; */
	font-size: 16px;
	line-height: 1.6;
	word-wrap: break-word;
}

article p,
article blockquote,
article ul,
article ol,article
article dl,
article table,
article pre {
	margin-top: 0;
	margin-bottom: 16px;
}

article blockquote {
	padding: 0 15px;
	color: #777;
	border-left: 4px solid #ddd;
}

article .highlight pre,
article pre {
	padding: 16px;
	overflow: auto;
	font-size: 85%;
	line-height: 1.45;
	background-color: #f7f7f7;
	border-radius: 3px;
}

article .highlight pre {
	margin-bottom: 0;
	word-break: normal;
}

article pre {
	word-wrap: normal;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
	position: relative;
	margin-top: 1em;
	/* margin-top: -50px; */
	margin-bottom: 16px;
	font-weight: bold;
	line-height: 1.4;
	border-top: 50px solid transparent;
}

article h1 {
	padding-bottom: 0.3em;
	font-size: 2.25em;
	line-height: 1.2;
	border-bottom: 1px solid #eee;
}

article h2 {
	margin-top: -22px;
	padding-bottom: 0.3em;
	font-size: 1.75em;
	line-height: 1.225;
	border-bottom: 1px solid #eee;
}

article h3 {
	margin-top: -26px;
	font-size: 1.5em;
	line-height: 1.43;
}

article h4 {
	
}

article h5 {
	margin-top: -34px;
	font-size: 1em;
}

article h6 {
	
}

/* 底部 */
footer {
	padding-top: 40px;
	padding-bottom: 40px;
	color: #777;
	text-align: center;
}

/* 返回顶部 */
.go-top {
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	color: #2ECC71;
	border-color: #2ECC71;
}

.go-top:hover {
	color: #FFF;
	background-color: #2ECC71;
}

@media screen and (min-width: 768px) {
	.go-top {
		bottom: 50px;
		right: 100px;
	}
}