body {
	margin: 0;
	padding: 0;
}

/* 导航栏 */
nav {
	position: relative;
	top: 0;
	background: rgba(255,255,255,.9);/*F #27AE60 */
	box-shadow: 0 1px 4px rgba(0,0,0,.3);
	z-index: 1;
}

.navbar-header a {
	color: #27AE60;/* #FFF */
}

.nav li a {
	color: #27AE60;/* #ECF0F1 */
}

.nav li a:hover {
	color: #FFF;
	background: #2CC36B;
}

/* 头部 */
header {
	padding: 130px 0 80px 0;
	color: #ECF0F1;
	text-align: center;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
	background-color: #27AE60;
	background-image: linear-gradient(to bottom, #27AE60 0px, #2ECC71 100%);
	background-repeat: repeat-x;
}

header .logo {
	display: block;
	margin: 0px auto 30px;
	padding: 10px 16px;
	font-size: 108px;
	font-weight: 500;
	line-height: 140px;
	color: #FFF;
	text-align: center;
	cursor: default;
}

header .lead {
	margin: 0px auto 30px;
	font-size: 30px;
	color: #FFF;
}

header .version {
	margin-top: -15px;
	margin-bottom: 30px;
}

header .version a,
header .version a:hover {
	color: #ECF0F1;
}

.btn-outline-inverse {
    color: #FFF;
    background-color: transparent;
    border-color: #ECF0F1;
}

.btn-outline-inverse:hover,
.btn-outline-inverse:focus,
.btn-outline-inverse:active {
    color: #27AE60;
    text-shadow: none;
    background-color: #FFF;
    border-color: #FFF;
}

.post-header {
	margin-bottom: 40px;
	padding-top: 110px;
	padding-bottom: 60px;
	text-align: left;
}

.post-header h1 {
	margin-top: 0;
	color: #FFF;
	font-size: 60px;
	line-height: 1;
}

/* 内容 */
section {
	padding-top: 100px;
	padding-bottom: 100px;
	font-size: 16px;
	line-height: 1.5;
	color: #555;
	text-align: center;
	background-color: #fff;
	border-bottom: 1px solid #e5e5e5;
}

section .title {
	margin-bottom: 30px;
	font-size: 40px;
	font-weight: 400;
	color: #333;
}

section .lead {
	max-width: 80%;
	margin-right: auto;
	margin-left: auto;
}

.post-section {
	padding-top: 0;
	padding-bottom: 40px;
	text-align: left;
}

aside {
	padding-right: 20px;
}

aside.affix {
	position: fixed;
	top: 90px;
}

.sidenav {
	margin-top: 20px;
	margin-bottom: 20px;
}

aside .nav li a {
	display: block;
	padding: 4px 20px;
	font-size: 13px;
	font-weight: 500;
	color: #999;
}

aside .nav .nav li a {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 30px;
	font-size: 12px;
	font-weight: 400;
}

aside .nav li a:hover,
aside .nav .nav li a:hover {
	color: #2ECC71;
	background: transparent;
	border-left: 1px solid #2ECC71;
}

/* 底部 */
footer {
	padding-top: 40px;
	padding-bottom: 40px;
	color: #777;
	text-align: center;
}
