body {
	margin: 0;
	padding: 0;
}

/* 导航栏 */
nav {
	position: relative;
	top: 0;
	background: rgba(255,255,255,.9);/*F #27AE60 */
	box-shadow: 0 1px 4px rgba(0,0,0,.3);
	z-index: 1;
}

.navbar-header a {
	color: #27AE60;/* #FFF */
}

.nav li a {
	color: #27AE60;/* #ECF0F1 */
}

.nav li a:hover {
	color: #FFF;
	background: #2CC36B;
}

/* 头部 */
header {
	position: relative;
	top: 50px;
	padding: 30px 15px;
	color: #ECF0F1;
	text-align: center;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
	background-color: #27AE60;
	background-image: linear-gradient(to bottom, #27AE60 0px, #2ECC71 100%);
	background-repeat: repeat-x;
}

header .logo {
	display: block;
	margin: 0px auto 30px;
	padding: 10px 16px;
	font-size: 108px;
	font-weight: 500;
	line-height: 140px;
	color: #FFF;
	text-align: center;
	cursor: default;
}

header .lead {
	margin: 0px auto 30px;
	font-size: 20px;
	color: #FFF;
}

header .version {
	margin-top: -15px;
	margin-bottom: 30px;
}

header .version a,
header .version a:hover {
	color: #ECF0F1;
}

.btn-outline-inverse {
    color: #FFF;
    background-color: transparent;
    border-color: #ECF0F1;
}

.btn-outline-inverse:hover,
.btn-outline-inverse:focus,
.btn-outline-inverse:active {
    color: #27AE60;
    text-shadow: none;
    background-color: #FFF;
    border-color: #FFF;
}

/* 内容 */
section {
	height: 1000px;
	border-bottom: 1px solid #E5E5E5;
}

/* 底部 */
footer {
	height: 300px;
}