<nav class="navbar-collapse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="{{ site.baseurl }}"> localDB </a>
			<a id="menu" class="navbar-brand-right glyphicon glyphicon-align-justify" href="javascript:void(0)"></a>
		</div>
		<ul class="nav navbar-nav menu-nav">
			<li>
				<a class="link" href="{{ site.baseurl }}gettingStarted/"> Getting started </a>
			</li>
			<li>
				<a class="link" href="{{ site.baseurl }}feature/"> Feature </a>
			</li>
		</ul>
	</div>
</nav>
<nav class="collapse navbar-collapse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="{{ site.baseurl }}"> localDB </a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a class="link" href="{{ site.baseurl }}gettingStarted/"> Getting started </a>
			</li>
			<li>
				<a class="link" href="{{ site.baseurl }}feature/"> Feature </a>
			</li>
		</ul>
	</div>
</nav>