<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}css/pygment_trac.css">
	<link rel="stylesheet" href="{{ site.baseurl }}css/animate.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}css/localDB.css">
</head>