{% include top.html %}

<body>
	
	{% include nav.html %}
	
	{{ content }}

	{% include foot.html %}

	<div id="goTop" class="go-top btn btn-outline-inverse btn-lg" onclick="javascript:scroll(0,0)">
		<span class="glyphicon glyphicon-chevron-up"></span>
	</div>
	<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="{{ site.baseurl }}javascript/localDB.js"></script>
	<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253230452'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s5.cnzz.com/stat.php%3Fid%3D1253230452%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
	<script>
		$(document).ready(function(){
			$("a[title='站长统计']").hide();		
		})
	</script>
</body>
</html>