---
layout: post
---

<div class="col-md-3">
	<aside class="hidden-print hidden-xs hidden-sm affix-top">
		<ul class="nav sidenav">
			<li>
				<a href="#installation"> Installation </a>
				<ul class="nav">
					<li>
						<a href=""> By Bower </a>
					</li>
					<li>
						<a href=""> By SPM </a>
					</li>
				</ul>
			</li>
			<li>
				<a href=""> How To Use </a>
				<ul class="nav">
					<li>
						<a href=""> Data Structure </a>
					</li>
					<li>
						<a href=""> Check Browser Compatibility </a>
					</li>
					<li>
						<a href=""> Load Database </a>
					</li>
					<li>
						<a href=""> Delete Database </a>
					</li>
					<li>
						<a href=""> Get Collections </a>
					</li>
					<li>
						<a href=""> Get Collection </a>
					</li>
					<li>
						<a href=""> Delete Collection </a>
					</li>
					<li>
						<a href=""> Insert Data </a>
					</li>
					<li>
						<a href=""> Query Data </a>
					</li>
					<li>
						<a href=""> Query one row </a>
					</li>
					<li>
						<a href=""> Update data by criteria </a>
					</li>
					<li>
						<a href=""> Delete data by criteria </a>
					</li>
				</ul>
			</li>
		</ul>
	</aside>
</div>
<div class="col-md-9">
	<article>

		{{ content }}

	</article>
</div>