---
layout: post
---

<div class="col-md-3">
	<aside class="hidden-print hidden-xs hidden-sm affix-top">
		<ul class="nav sidenav">
			<li>
				<a href="#installation"> Installation </a>
				<ul class="nav">
					<li>
						<a href="#byBower"> By Bower </a>
					</li>
					<li>
						<a href="#bySPM"> By SPM </a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#howToUse"> How To Use </a>
				<ul class="nav">
					<li>
						<a href="#dateStructure"> Data Structure </a>
					</li>
					<li>
						<a href="#checkBrowserCompatibility"> Check Browser Compatibility </a>
					</li>
					<li>
						<a href="#loadDatabase"> Load Database </a>
					</li>
					<li>
						<a href="#deleteDatabase"> Delete Database </a>
					</li>
					<li>
						<a href="#getCollections"> Get Collections </a>
					</li>
					<li>
						<a href="#getCollection"> Get Collection </a>
					</li>
					<li>
						<a href="#deleteCollection"> Delete Collection </a>
					</li>
					<li>
						<a href="#insertData"> Insert Data </a>
					</li>
					<li>
						<a href="#queryData"> Query Data </a>
					</li>
					<li>
						<a href="#queryOneRow"> Query one row </a>
					</li>
					<li>
						<a href="#updateDataByCriteria"> Update data by criteria </a>
					</li>
					<li>
						<a href="#deleteDataByCriteria"> Delete data by criteria </a>
					</li>
				</ul>
			</li>
		</ul>
	</aside>
</div>
<div class="col-md-9">
	<article>

		{{ content }}

	</article>
</div>